---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 23 2024')}

>
	<p>
		I&apos;m based in Nayarit, Mexico. I&apos;m founder of HyperGood, where we&apos;re building Woosh to bring crypto to the masses.

		Previously I was a freelance product designer and front-end developer working on web2 and web3 projects.
	</p>

</Layout>
